.h2 {
  background-color: var(--accentSolid);
}

.imgCaptionWrapper {
  display: grid;
  grid-template-areas: 'caption' 'image';
  grid-template-rows: auto auto;
  padding: 20px 0 20px 0;
  gap: 10px;
}

.caption {
  grid-area: caption;
  margin-top: auto;
  margin-bottom: auto;
}

.imageSection {
  grid-area: image;
  position: relative;
}

.imageWrapper {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
}

/* Phone Landscape/Tablet Portrait */
@media (min-width: 48em) {
  .imgCaptionWrapper {
    grid-template-areas: 'caption image';
    grid-template-columns: 1fr 1fr;
  }
}
