@function repeat($character, $n) {
  $c: '';
  @for $i from 1 through $n {
    $c: $c + $character;
  }
  @return $c;
}

.layout {
  display: grid;
  grid-template-areas: 'title projects';
  grid-template-columns: 1fr 5fr;
}

.projectsWrapper {
  grid: 'projects';
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.titleWrapper {
  grid-column: content !important;
  overflow: hidden;
  overflow: visible;
}

.title {
  -webkit-text-stroke: 1px var(--accentSolid);
  color: var(--accentSolid);
  font-size: 6rem;
  font-weight: 700;
  overflow: visible;
  position: relative;
}

.title::before {
  content: repeat('PROJECTS', 100);
  color: transparent;
  left: -789.75ch;
  position: absolute;
}

.title::after {
  content: repeat('PROJECTS', 100);
  color: transparent;
}

/* Phone Landscape/Tablet Portrait */
@media (max-width: 48em) {
  .title {
    font-size: 2rem;
  }
}
