.footer {
  max-width: 1400px;
  margin: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'intro useful popular socials'
    'disclaimer disclaimer disclaimer disclaimer';
  column-gap: 10px;
  row-gap: 30px;
}

.footer p {
  font-size: small;
  padding-bottom: 5px;
}

.footer a {
  color: var(--greyTextContrast);
  text-decoration-color: var(--greyTextContrast);
}

.footer ul>li {
  font-size: small;
}

.footer h4 {
  padding-bottom: 10px;
}

.intro {
  grid-area: intro;
  padding-right: 50px;
}

.intro h3 {
  padding-bottom: 10px;
}

.socials {
  grid-area: socials;

}

.iconGrid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.icon {
  width: 40px;
  cursor: pointer;
  transform: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.icon:hover {
  transform: scale(0.95);
  color: var(--colours_primary_default);
}

.popular {
  grid-area: popular;
}

.useful {
  grid-area: useful;
}

.disclaimer {
  grid-area: disclaimer;
  text-align: center;
  font-size: small;
  color: var(--greyText);
}

/* Phone Portrait */
@media (max-width: 48em) {
  .footer {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      'intro'
      'useful'
      'popular'
      'socials'
      'disclaimer';
    row-gap: 20px;
  }

  .intro {
    padding-right: 0px;
  }
}