@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.overflowHandler {
  overflow-x: scroll;
}

.overflowNotification {
  background-color: var(--colours_primary_background_default);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: clamp(1px, 100%, 400px);
  margin: auto;
  margin-bottom: 20px;
}

.buttonWrapper {
  width: 210mm;
  margin: auto;
  height: 25px;
}

.downloadButton {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  height: 50px;
  width: 50px;
  margin-left: calc(210mm - 25px);
  background-color: var(--colours_primary_background_default);
  border-color: var(--colours_primary_background_default);
  cursor: pointer;
  padding: 6px;

  svg {
    width: 100%;
    padding: 5px;
    fill: currentColor;
    color: var(--colours_primary_text_default)
  }
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colours_text_default)
}

.label {
  font-size: var(--fontSizes_tiny)
}

.scrollButtonMobile {
  height: 50px;
  width: 50px;

  svg {
    padding: 5px;
    fill: currentColor;
  }
}

.downloadButtonMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  padding: 6px;
  cursor: pointer;

  color: var(--colours_text_default);

  svg {
    width: 100%;
    padding: 5px;
    fill: currentColor;
  }
}

@media (min-width: calc(210mm + (2 * clamp(1rem, 6vw, 3rem)))) {
  .overflowNotification {
    display: none;
  }

  .downloadButton {
    display: flex;
  }
}


.cvWrapper {
  font-family: 'Poppins', sans-serif;
  width: 210mm;
  height: 297mm;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  font-size: 12px;

  h2 {
    margin-top: 10px;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding-left: 20px;
  }

  ul>li {
    text-indent: -10px;
    padding-bottom: 2px;
  }

  ul>li:before {
    content: "- ";
  }

  h2 {
    border-bottom: 2px solid;
    border-top: 2px solid;
    max-width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .summaryWrapper {
    flex: 1;
    background-color: #1c1c1c;
    color: white;
    padding: 10px 20px;

    .title {
      padding-bottom: 10px;

      h1 {
        padding-bottom: 10px;
      }

      a {
        line-height: 20px;
      }
    }

    a {
      color: var(--colours_primary_text_default);
      font-weight: var(--fontWeights_thick)
    }

    h1 {
      font-size: 30px;
    }

    .pillWrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      padding: 10px 0;
    }

    .pill {
      border-radius: 5px;
      padding: 2px 5px;
      background-color: var(--colours_primary_text_default);
      color: black;
    }

    ul {
      padding-bottom: 20px;
    }

    >p {
      padding-bottom: 20px;
    }

  }

  .mainWrapper {
    flex: 2;
    color: #1c1c1c;
    padding: 10px;

    h2 {
      margin-bottom: 0px;
    }

    .subheader {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      padding: 15px 0 10px;
      line-height: 20px;
      align-items: center;

      h3 {
        font-size: 16px;
      }

      i {
        font-size: 14px;
      }

      b {
        text-align: right
      }

      div {
        flex: 1;
      }

      a {
        color: #1c1c1c;
      }
    }

  }

}