.layout {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: minmax(1px, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "intro"
        "about"
        "pinned"
        "recent";
}


.aboutLayout {
    grid-area: about;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title     title"
        "imperial  bbg"
        "skydiving skydiving"
        "more      more";
}

.introLayout {
    grid-area: intro;
    display: flex;
    gap: 20px;        
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    display: flex;

    svg {
        width: 100%;
    }
}

.skydiving {
    background: rgba(0, 176, 255, .7);
}

#cloud {
    background: rgba(255, 255, 255);
    width: 60px;
    height: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    animation: move 3s infinite;
}

#cloud:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    left: 10px;
}

#cloud:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 34px;
    height: 30px;
    border-radius: 50%;
    top: -18px;
    right: 8px;
}

@keyframes move {
    0% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(-8px);
    }
}

.bigNumber {
    font-size: var(--fontSizes_xxl);
    font-weight: var(--fontWeights_thick)
}


/* Phone Landscape/Tablet Portrait */
@media (min-width: 48em) {
    .layout {
        grid-template-columns: repeat(2, minmax(1px, 1fr));
        grid-template-rows: auto auto;
        grid-template-areas:
            "intro  about"
            "recent pinned";
    }

    .introLayout {
        justify-content: end;
    }

}

/* Tablet Landscape */
@media (min-width: 62em) {
    .layout {
        grid-template-columns: repeat(3, minmax(1px, 1fr));
        grid-template-rows: auto auto;
        grid-template-areas:
            "intro intro  intro"
            "about recent pinned";
    }

    .introLayout {
        text-align: left;
        flex-direction: row;
        align-items: left;
        justify-content: start;

    }

}