.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.main {
  flex: 3;

  h1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--colours_background_default);
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.sidebar {
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 10px;
  top: 20px;
  height: 0;
}

.github {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--colours_secondary_default);
  width: fit-content;
  color: var(--colours_text_default);
}

.lastfm {
  height: 200px;
  background-color: orange;
  border-radius: 20px;
  padding: 20px;
}

.activityTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;

  .icon {
    width: 30px;
  }
}

.clickable {
  cursor: pointer;
  transform: all .3s ease-in-out, color 0s;
  transition: all .3s ease-in-out, color 0s;
}

.clickable:hover {
  transform: scale(0.95)
}


/* Phone Landscape/Tablet Portrait */
@media (min-width: 48em) {

}

/* Tablet Landscape */
@media (min-width: 62em) {

}
