.mobileHide {
  display: none !important;
}

.layout {
  display: grid;
  grid-template-areas: 'info' 'icon';
  grid-template-rows: 1ft 1fr;
  gap: 10px;
  background-color: var(--accentSolid);
  color: var(--greyBase);
  border-radius: 10px;
  padding: 20px;
}

.info {
  grid-area: info;
  margin-top: auto;
  margin-bottom: auto;
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-weight: 600;
  }
}

.icon {
  grid-area: icon;
  margin: auto;
}

.iconWrapper {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px 0;
  gap: 5px;
}

.tag {
  border-radius: 5px;
  padding: 2px 5px;
  background-color: var(--accentBase);
  color: var(--greyTextContrast);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--accentBgSubtle);
    transform: scale(1.05);
  }
}

.link {
  text-decoration-line: none;
}

/* Phone Landscape/Tablet Portrait */
@media (min-width: 48em) {
  .layout {
    grid-template-areas: 'info icon';
    grid-template-columns: 5fr 1fr;
  }
  .mobileShow {
    display: none !important;
  }
  .mobileHide {
    display: flex !important;
  }
}
