.header {
  padding-left: 5px;
  padding-right: 5px;
}

.title {
  display: grid;
  grid-template-columns: 10fr auto auto;
  grid-template-rows: auto;
  /* background-color: var(--greyBgSubtle); */
  padding: 5px;
  align-items: center;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  column-gap: 40px;
  padding-bottom: 5px;
}

.link {
  text-decoration-line: none;
  width: 100%;
  text-align: center;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
}

.link:hover {
  background-color: var(--greyBgHover);
}

.activeLink {
  background-color: var(--greyBgActive);
}

/* Phone Landscape/Tablet Portrait */
@media (min-width: 48em) {
  .nav {
    grid-template-columns: repeat(3, 1fr);
  }
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Tablet Landscape */
@media (min-width: 62em) {
  .nav {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Laptop/Desktop */
@media (min-width: 75em) {
  .nav {
    grid-template-columns: repeat(6, 1fr);
  }
}
